@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins {
  font-family: var(--font-poppins), "sans-serif";
}

@media (max-width: 450px) {
  .chat-container {
    min-width: 100% !important;
  }

  .chat-resize-handle {
    display: none; /* Hide resize handle on very small screens */
  }
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  width: 280px; /* Set a default minimum width */
  margin-left: -140px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  height: 50px;
  top: 30px; /* 30px from the bottom */
  display: flex; /* Allow stacking elements horizontally */
  align-items: center; /* Vertically center content */
  justify-content: space-between; /* Distribute content evenly */
}

.glassmorphism {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-20px) translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
    -webkit-transform: translateY(0) translateX(-50%);
    -moz-transform: translateY(0) translateX(-50%);
    -ms-transform: translateY(0) translateX(-50%);
    -o-transform: translateY(0) translateX(-50%);
  }
}
